{% extends 'inventario/index.html' %}

{% block title %}
    PRODUCTOS - DAFC CORPORATION
{% endblock %}

{% load static %}


{% block content %}

    <style>

    .custom-cardshop .card {
        width: 100%; /* El ancho se adapta al contenedor padre */
        height: 400px; /* Define una altura fija para las tarjetas */
        overflow: hidden; /* Oculta cualquier contenido que exceda el contenedor */
        border-radius: 8px !important; /* Esquinas ligeramente redondeadas */
    }

    .custom-cardshop .card img {
        width: 100%; /* La imagen ocupa el ancho completo */
        height: 100%; /* La imagen ocupa la altura completa */
        object-fit: cover; /* Asegura que la imagen mantenga proporción y llene el espacio */
    }

    .protext {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 500;
    }

    .text-pag {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 400;
    }
    /*
    .card .product-overlay {
        display: none !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        background: rgba(0, 0, 0, 0.5) !important;
        z-index: 10 !important;
        align-items: center !important;
        justify-content: center !important;
        
    }
    */
    .customi-btn {
        margin-top: 20px;
        font-size: 13px; /* Tamaño de texto */
        padding: 8px 12px; /* Espaciado interno para reducir el tamaño del botón */
        border: 1px solid #03447e; 
        background-color: transparent !important; /* Fondo transparente */
        color: #000; /* Texto negro */
        border-radius: 10px; /* Bordes redondeados */
        transition: all 0.3s ease; /* Transición suave */
        
    }

    .customi-btn:hover {
        background-color: #03447e !important; /* Fondo azul */
        color: white !important;
        border-color: #03447e !important; /* Mantener el borde azul */
        transform: translateY(-8px); /* Elevar botón más alto */
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    }

    .card img {
        transition: transform 0.3s ease; /* Suaviza la animación */
    }

    .card:hover img {
        transform: scale(1.1); /* Acerca la imagen ligeramente */
    }

    .card:hover .product-overlay {
        display: flex !important;
    }
    .product-overlay ul li a:hover {
        transform: scale(1.2)/* Efecto de agrandar el icono */;
    }

    .card-body {
        height: 150px; /* Ajusta el valor según tus necesidades */
    }

    /* Animación de aparición */
    .fade-in {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    }

    .fade-in.visible {
        opacity: 1;
        transform: translateY(0);
    }
    </style>

    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            <!--
            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categorias</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Tipo
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Excavadoras</a></li>
                            <li><a class="text-decoration-none" href="#">Retroexcavadoras</a></li>
                            <li><a class="text-decoration-none" href="#">Tractores</a></li>
                            <li><a class="text-decoration-none" href="#">Cargadores frontales</a></li>
                            <li><a class="text-decoration-none" href="#">Manipuladores telescópicos</a></li>
                            <li><a class="text-decoration-none" href="#">Minicargadores</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Precio
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Menos de USD 50,000</a></li>
                            <li><a class="text-decoration-none" href="#">USD 50,000 - USD 100,000</a></li>
                            <li><a class="text-decoration-none" href="#">USD 100,000 - USD 200,000</a></li>
                            <li><a class="text-decoration-none" href="#">Más de USD 200,000</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Marcas
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Caterpillar</a></li>
                            <li><a class="text-decoration-none" href="#">Komatsu</a></li>
                            <li><a class="text-decoration-none" href="#">John Deere</a></li>
                            <li><a class="text-decoration-none" href="#">JCB</a></li>
                            <li><a class="text-decoration-none" href="#">Volvo</a></li>
                            <li><a class="text-decoration-none" href="#">Terex</a></li>
                            <li><a class="text-decoration-none" href="#">Dynapac</a></li>
                            <li><a class="text-decoration-none" href="#">Hitachi</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Capacidad de Carga
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Menos de 5 toneladas</a></li>
                            <li><a class="text-decoration-none" href="#">5 - 10 toneladas</a></li>
                            <li><a class="text-decoration-none" href="#">10 - 20 toneladas</a></li>
                            <li><a class="text-decoration-none" href="#">Más de 20 toneladas</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Combustible
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Diesel</a></li>
                            <li><a class="text-decoration-none" href="#">Gasolina</a></li>
                            <li><a class="text-decoration-none" href="#">Eléctrico</a></li>
                            <li><a class="text-decoration-none" href="#">Híbrido</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Fabricación
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Antes de 2023</a></li>
                            <li><a class="text-decoration-none" href="#">2023</a></li>
                            <li><a class="text-decoration-none" href="#">2024</a></li>
                            <li><a class="text-decoration-none" href="#">2025</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            -->
            <div class="col-lg-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">Todo</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#"></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none" href="#"></a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-md-6 pb-4">
                        <form method="get">
                            <div class="d-flex align-items-center">
                                <span class="mr-2" style="flex-grow: 1; white-space: nowrap;">Filtrar por:</span>
                                <select name="proveedor_id" class="form-control" style=" width: 75%;" onchange="this.form.submit()">
                                    <option value="" {% if not filtro_proveedor %}selected{% endif %}>Todos</option>
                                    {% for proveedor in proveedores_categoria %}
                                        <option value="{{ proveedor.id }}" {% if filtro_proveedor|stringformat:"s" == proveedor.id|stringformat:"s" %}selected{% endif %}>{{ proveedor.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    {% for producto in productos %}
                    <div class="col-md-4 custom-cardshop fade-in">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{{ producto.imagen.url }}">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <!--
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white " href="{% url 'detalle_producto' producto.id %}"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'detalle_producto' producto.id %}"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'detalle_producto' producto.id %}"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                    -->
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <a href="{% url 'detalle_producto' producto.id %}" class="protext text-decoration-none">{{ producto.nombre }}</a>
                                </div>
                                
                                <ul class="list-unstyled d-flex mb-1">
                                    <li>
                                        <div class="col d-grid">
                                            <a href="{% url 'detalle_producto' producto.id %}" class="btn customi-btn">Más información</a>
                                        </div>
                                    </li>
                                </ul>
                                <!--<p class="text-center mb-0">${{ producto.precio }}</p>-->
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No hay productos disponibles.</p>
                    {% endfor %}
                </div>
                <!-- Paginación -->            
                <nav aria-label="Paginación">
                    <ul class="pagination justify-content-center flex-wrap gap-2">
                        {% if productos.has_previous %}
                            <li class="page-item mx-1">
                                <a class="page-link rounded-pill shadow-sm w-auto" href="?page=1{% if filtro_proveedor %}&proveedor_id={{ filtro_proveedor }}{% endif %}" aria-label="Primera">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item mx-1">
                                <a class="page-link rounded-pill shadow-sm w-auto" href="?page={{ productos.previous_page_number }}{% if filtro_proveedor %}&proveedor_id={{ filtro_proveedor }}{% endif %}" aria-label="Anterior">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                
                        <li class="page-item active mx-1">
                            <a class="page-link rounded-pill shadow-sm text-dark bg-light border w-auto text-pag" style="pointer-events: none;">
                                Página {{ productos.number }} de {{ productos.paginator.num_pages }}
                            </a>
                        </li>
                
                        {% if productos.has_next %}
                            <li class="page-item mx-1">
                                <a class="page-link rounded-pill shadow-sm w-auto" href="?page={{ productos.next_page_number }}{% if filtro_proveedor %}&proveedor_id={{ filtro_proveedor }}{% endif %}" aria-label="Siguiente">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item mx-1">
                                <a class="page-link rounded-pill shadow-sm w-auto" href="?page={{ productos.paginator.num_pages }}{% if filtro_proveedor %}&proveedor_id={{ filtro_proveedor }}{% endif %}" aria-label="Última">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Content -->    

    <!-- End Content --
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        --Controls-
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        !--End Controls--

                        !--Carousel Wrapper--
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                !--Slides--
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    !--First slide--
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_01.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_02.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_03.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_04.png' %}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    !--End First slide--

                                    !--Second slide--
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_01.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_02.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_03.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_04.png' %}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    !--End Second slide--

                                    !--Third slide--
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_01.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_02.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_03.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_04.png' %}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    !--End Third slide--

                                </div>
                                !--End Slides--
                            </div>
                        </div>
                        !--End Carousel Wrapper--

                        !--Controls--
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        !--End Controls--
                    </div>
                </div>
            </div>
        </div>
    </section>
    !--End Brands--
    !-- End Script -->
</body>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const elements = document.querySelectorAll('.fade-in');

        function checkVisibility() {
            elements.forEach(el => {
                const rect = el.getBoundingClientRect();
                if (rect.top < window.innerHeight - 50) {
                    el.classList.add('visible');
                }
            });
        }

        window.addEventListener('scroll', checkVisibility);
        checkVisibility();
    });
</script>

{% endblock %}