{% extends 'inventario/index.html' %}

{% block title %}
    PRODUCTOS - DAFC CORPORATION
{% endblock %}

{% load static %}

{% block content %}
 
<style>
    /* Estilo del título con subrayado animado */
    .section-title {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        position: relative;
        display: inline-block;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }

    .section-title::after {
        content: '';
        width: 50%;
        height: 3px;
        background: #03447e;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.3s ease-in-out;
    }

    .section-title:hover::after {
        width: 80%;
    }

    /* Tarjetas de producto con efecto de sombra y elevación */
    .custom-cardshop .card {
        width: 100%; /* El ancho se adapta al contenedor padre */
        height: 400px; /* Define una altura fija para las tarjetas */
        overflow: hidden; /* Oculta cualquier contenido que exceda el contenedor */
        border-radius: 8px !important; /* Esquinas ligeramente redondeadas */
    }

    .custom-cardshop .card img {
        width: 100%; /* La imagen ocupa el ancho completo */
        height: 100%; /* La imagen ocupa la altura completa */
        object-fit: cover; /* Asegura que la imagen mantenga proporción y llene el espacio */
    }
    
    .protext {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 500;
    }
    /*
    .card .product-overlay {
        display: none !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        background: rgba(0, 0, 0, 0.5) !important;
        z-index: 10 !important;
        align-items: center !important;
        justify-content: center !important;
        
    }
    */
    .customi-btn {
        margin-top: 20px;
        font-size: 13px; /* Tamaño de texto */
        padding: 8px 12px; /* Espaciado interno para reducir el tamaño del botón */
        border: 1px solid #03447e; 
        background-color: transparent !important; /* Fondo transparente */
        color: #000; /* Texto negro */
        border-radius: 10px; /* Bordes redondeados */
        transition: all 0.3s ease; /* Transición suave */
        
    }

    .customi-btn:hover {
        background-color: #03447e !important; /* Fondo azul */
        color: white !important;
        border-color: #03447e !important; /* Mantener el borde azul */
        transform: translateY(-8px); /* Elevar botón más alto */
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    }

    .card img {
        transition: transform 0.3s ease; /* Suaviza la animación */
    }

    .card:hover img {
        transform: scale(1.1); /* Acerca la imagen ligeramente */
    }

    .card:hover .product-overlay {
        display: flex !important;
    }
    .product-overlay ul li a:hover {
        transform: scale(1.2)/* Efecto de agrandar el icono */;
    }

    .card-body {
        height: 150px; /* Ajusta el valor según tus necesidades */
    }

    /* Animación de aparición */
    .fade-in {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    }

    .fade-in.visible {
        opacity: 1;
        transform: translateY(0);
    }
</style>


<div class="container">
    <h2 class="section-title mt-4">Productos de {{ proveedor.nombre }}</h2>

    {% if productos %}
        <div class="row">
            {% for producto in productos %}
            <div class="col-md-4 custom-cardshop fade-in">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="{{ producto.imagen.url }}">
                    </div>
                    <div class="card-body">
                        <div class="">
                            <a href="{% url 'detalle_producto' producto.id %}" class="protext text-decoration-none">{{ producto.nombre }}</a>
                        </div>
                        
                        <ul class="list-unstyled d-flex mb-1">
                            <li>
                                <div class="col d-grid">
                                    <a href="{% url 'detalle_producto' producto.id %}" class="btn customi-btn">Más información</a>
                                </div>
                            </li>
                        </ul>
                        <!--<p class="text-center mb-0">${{ producto.precio }}</p>-->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">No hay productos disponibles para este proveedor.</p>
    {% endif %}
</div>
<!-- Paginación -->
<nav aria-label="Paginación">
    <ul class="pagination justify-content-center flex-wrap gap-2">
        {% if productos.has_previous %}
            <li class="page-item mx-1">
                <a class="page-link rounded-pill shadow-sm w-auto" href="?page=1{% if filtro_proveedor %}&proveedor_id={{ filtro_proveedor }}{% endif %}" aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item mx-1">
                <a class="page-link rounded-pill shadow-sm w-auto" href="?page={{ productos.previous_page_number }}{% if filtro_proveedor %}&proveedor_id={{ filtro_proveedor }}{% endif %}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        <li class="page-item active mx-1">
            <a class="page-link rounded-pill shadow-sm text-dark bg-light border w-auto text-pag" style="pointer-events: none;">
                Página {{ productos.number }} de {{ productos.paginator.num_pages }}
            </a>
        </li>

        {% if productos.has_next %}
            <li class="page-item mx-1">
                <a class="page-link rounded-pill shadow-sm w-auto" href="?page={{ productos.next_page_number }}{% if filtro_proveedor %}&proveedor_id={{ filtro_proveedor }}{% endif %}" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item mx-1">
                <a class="page-link rounded-pill shadow-sm w-auto" href="?page={{ productos.paginator.num_pages }}{% if filtro_proveedor %}&proveedor_id={{ filtro_proveedor }}{% endif %}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const elements = document.querySelectorAll('.fade-in');

        function checkVisibility() {
            elements.forEach(el => {
                const rect = el.getBoundingClientRect();
                if (rect.top < window.innerHeight - 50) {
                    el.classList.add('visible');
                }
            });
        }

        window.addEventListener('scroll', checkVisibility);
        checkVisibility();
    });
</script>

    

{% endblock %}